* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .label{
    width:100%;
    display:block;
  }
  *{
    box-sizing:border-box;
  }
  body{
    margin:0;
  }
  .row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
  }
  .cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  .form-group{
    padding:5px;
  }
  #iq53j{
    color:white;
    background-image:linear-gradient(#000000,#000000);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    padding:20px 20px 20px 20px;
  }
  #iuewk{
    max-width:900px;
  }
  #i3gfy{
    justify-content:center;
    align-items:center;
  }
  #iq9ue{
    padding:0 0 0 0;
    height:100vh;
    background-image:linear-gradient(#73ff65,#73ff65);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
  }
  #submit{
    background-image:linear-gradient(#000000,#000000);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    color:#ffffff;
    font-size:18px;
    border-radius:10px 10px 10px 10px;
    border:0 outset rgb(118, 118, 118);
    padding:5px 10px 5px 10px;
  }
  #survey-form{
    background-image:linear-gradient(#174c0e,#174c0e);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    padding:20px 20px 20px 20px;
    color:white;
    border-radius:10px 10px 10px 10px;
  }
  @media (max-width: 768px){
    .row{
      flex-wrap:wrap;
    }
  }